body {
    margin: 0;
    padding: 0;
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .card {
    width: 80%;
}

.login-container form {
    margin-top: 20px;
}

.container.content {
    /* height: 127% !important; */
    position: fixed;
    margin-top: 50px;
    /* background-color: rgba(13,110,253,.25); */
}